.navbar-lewagon {
    justify-content: space-between;
    background: white;
    border: 10px solid black;
    font-family: 'Roboto';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
